<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <!-- Static (v2.6.12) -->
    <script src="libs/vue.js" charset="utf-8"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- Custom JS Functions -->
    <script src="js/functions.js" charset="utf-8"></script>
  </head>
  <body>
    <!-- VUE root element -->
    <div id="root">
      <header>
        <div class="nav-container container">
          <input type="text" v-model="searchInput" @keypress.enter="searchMovies"/>
          <button type="submit" @click="searchMovies" >Search</button>
        </div>
      </header>
      <div class="movies-container container">
        <div class="movie" v-for="movie in movies">
          <img
            :src="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
            alt="poster"
          />
          <span>Titolo: {{movie.title}}</span>
          <span>Titolo Originale: {{movie.original_title}}</span>
          <span>Lingua: {{movie.original_language}}</span>
          <span>Voto Medio: {{movie.vote_average}}</span>
        </div>
      </div>
    </div>

    <!-- Custom JS -->
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
